{
  "Parameters": {
    "PLANTILLAS_CRUD_USERNAME": "XXXXXXXXXXXXXX",
    "PLANTILLAS_CRUD_PASS": "XXXXXXXXXXXXXX",
    "PLANTILLAS_CRUD_HOST": "XXXXXXXXXXXXXX",
    "PLANTILLAS_CRUD_PORT": "27017",
    "PLANTILLAS_CRUD_DB": "XXXXXXXXXXXXXX"
  }
}